[project]
	description = Package for data validation in Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Nguyen (pengux)
[access "refs/for/refs/*"]
	read = group user/Peter Nguyen (pengux)
	push = group user/Peter Nguyen (pengux)
	label-Code-Review = -2..+2 group user/Peter Nguyen (pengux)
	label-Verified = -1..+1 group user/Peter Nguyen (pengux)
	rebase = group user/Peter Nguyen (pengux)
	removeReviewer = group user/Peter Nguyen (pengux)
	submit = group user/Peter Nguyen (pengux)
[access "refs/heads/*"]
	read = group user/Peter Nguyen (pengux)
	create = group user/Peter Nguyen (pengux)
	push = +force group user/Peter Nguyen (pengux)
	pushMerge = group user/Peter Nguyen (pengux)
[access "refs/tags/*"]
	push = +force group user/Peter Nguyen (pengux)
	pushTag = group user/Peter Nguyen (pengux)
	pushSignedTag = group user/Peter Nguyen (pengux)
